.header {
  width: 100%;
  justify-content: center;
  align-items: stretch;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #36f;
  padding: .75rem 0;
}

.nav div a {
  background-color: #36f;
  color: #fff;
  padding: .75rem 1.5rem;
  border-right: 1px solid #598bff;
}

.nav div a:hover {
  background-color: #598bff;
}

.nav div a.selected {
  background-color: rgb(40, 80, 199);
}

.main {
  // display: flex;
  // justify-content: center;
  width: 100%;

}

.footer {
  position: fixed;
  justify-content: center;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #f5f5f5;
  padding: 2rem 0;
}
  
  /* Style the list */
.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
  padding: 8px;
  color: #c9c9c9;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb li a {
  color: #36f;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: #12162b;
  text-decoration: underline;
}
